log/*
tmp/*
doc/*
pkg/*
.junk/*
.irb_history
.irbrc
.screenrc*
.vim/
.viminfo
.vimrc
RIDE_History.txt
RIDE_License.txt
RIDE_README.txt
config/*
script/*
tasks/ride.rake
tasks/rspec.rake
.gem
.rubyforge

